openapi: 3.0.0
info:
  title: 'Gecko booking - API'
  description: "Geckobooking API\r\n "
  contact:
    name: 'Gecko booking'
    email: info@geckobooking.dk
  version: v1
servers:
  -
    url: 'https://app.geckobooking.dk/api/v1'
    description: 'API server'
paths:
  '/accesstemplate/{accessTemplateId}':
    get:
      tags:
        - AccessTemplate
      summary: 'Get access template'
      operationId: e9c274ddb491c834c50d3fc46e665aa3
      parameters:
        -
          $ref: '#/components/parameters/accesstemplate_id_in_path_required'
        -
          $ref: '#/components/parameters/get_query_fields'
      responses:
        '200':
          description: 'AccessTemplate object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accessTemplate'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /accesstemplate:
    get:
      tags:
        - AccessTemplate
      summary: 'List access templates'
      description: 'List access templates description'
      operationId: 848753a81d12771c042fe8a9a318520f
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
      responses:
        '200':
          description: 'List of access templates'
          content:
            application/json:
              schema:
                allOf:
                  - { properties: { paging: { $ref: '#/components/schemas/list_paging_response' }, list: { description: 'List of access templates', type: array, items: { $ref: '#/components/schemas/accessTemplate' } } }, type: object }
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  '/administrator/{administratorId}':
    get:
      tags:
        - Administrator
      summary: 'Get administrator'
      operationId: 37e990741e3b6eb91134b3f5f09256a3
      parameters:
        -
          $ref: '#/components/parameters/administrator_id_in_path_required'
        -
          $ref: '#/components/parameters/get_query_fields'
        -
          $ref: '#/components/parameters/expand_administrator_query'
      responses:
        '200':
          description: 'Administrator object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/administrator'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
    delete:
      tags:
        - Administrator
      summary: 'Delete administrator'
      operationId: dec895aba21ec884803d6077c0bf2882
      parameters:
        -
          $ref: '#/components/parameters/administrator_id_in_path_required'
      responses:
        '200':
          description: 'Administrator deleted'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
    patch:
      tags:
        - Administrator
      summary: 'Update administrator'
      operationId: a1760254e6cf453854ebf835b3af8040
      parameters:
        -
          $ref: '#/components/parameters/administrator_id_in_path_required'
      requestBody:
        description: 'Update administrator'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/administrator'
      responses:
        '200':
          description: 'Administrator updated'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /administrator:
    get:
      tags:
        - Administrator
      summary: 'List administrators'
      description: 'List administrators description'
      operationId: cc740beaf79d90134c773afe241fb4cc
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
        -
          $ref: '#/components/parameters/expand_administrator_query'
      responses:
        '200':
          description: 'List of administrators'
          content:
            application/json:
              schema:
                allOf:
                  - { properties: { paging: { $ref: '#/components/schemas/list_paging_response' }, list: { description: 'List of administrators', type: array, items: { $ref: '#/components/schemas/administrator' } } }, type: object }
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
    post:
      tags:
        - Administrator
      summary: 'Create administrator'
      operationId: af37440462bec426a4e5ee1b57232844
      requestBody:
        description: 'Create administrator'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/administrator_create'
      responses:
        '200':
          description: 'Administrator created'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  '/bookingstatus/{bookingStatusId}':
    get:
      tags:
        - 'Booking status'
      summary: 'Get booking status'
      operationId: 88157e86d45994dd7afb2762d7cb4830
      parameters:
        -
          $ref: '#/components/parameters/bookingstatus_id_in_path_required'
        -
          $ref: '#/components/parameters/get_query_fields'
      responses:
        '200':
          description: 'BookingStatus object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookingStatus'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /bookingstatus:
    get:
      tags:
        - 'Booking status'
      summary: 'List booking statuses'
      description: 'List booking statuses description'
      operationId: 8b7401cb24a976ed4e930c49b4d65edf
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
      responses:
        '200':
          description: 'List of booking statuses'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookingStatusList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  '/calendar/{calendarId}':
    get:
      tags:
        - Calendar
      summary: 'Get calendar'
      operationId: 0c9edbf6fd5cd4416c1880247729c4e6
      parameters:
        -
          $ref: '#/components/parameters/calendar_id_in_path_required'
        -
          name: expand
          in: query
          schema:
            $ref: '#/components/schemas/expand_calendar_query'
        -
          $ref: '#/components/parameters/get_query_fields'
      responses:
        '200':
          description: 'Calendar object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/calendar'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /calendar:
    get:
      tags:
        - Calendar
      summary: 'List calendars'
      description: 'List calendars description'
      operationId: 94d6732bfcba43b8e51c2df4a8d329eb
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
        -
          name: calendarActive
          in: query
          description: 'optional, Limit to search for active or inactive calendars'
          schema:
            type: boolean
        -
          name: calendarGroupId
          in: query
          description: 'optional, Limit to search in specific calendar group'
          schema:
            type: integer
        -
          name: showDeleted
          in: query
          description: 'optional, Include deleted calendars in search.'
          schema:
            type: boolean
            default: false
        -
          name: expand
          in: query
          schema:
            $ref: '#/components/schemas/expand_calendar_query'
      responses:
        '200':
          description: 'List of calendars'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/calendarList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  '/calendargroup/{calendarGroupId}':
    get:
      tags:
        - 'Calendar group'
      summary: 'Get calendarGroup'
      operationId: 9183fe3a5e0c76415956d1d34ad20fc6
      parameters:
        -
          $ref: '#/components/parameters/calendarGroup_id_in_path_required'
        -
          $ref: '#/components/parameters/get_query_fields'
      responses:
        '200':
          description: 'CalendarGroup object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/calendarGroup'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /calendargroup:
    get:
      tags:
        - 'Calendar group'
      summary: 'List calendarGroups'
      description: 'List calendarGroups description'
      operationId: 6dfa311f38f5d9304fcc29aa8761fc59
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_fields'
        -
          name: calendarGroupParentId
          in: query
          description: 'optional, Limit to search in specific calendarGroup'
          schema:
            type: integer
      responses:
        '200':
          description: 'List of calendarGroups'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/calendarGroupList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  '/cashregister/{cashRegisterId}':
    get:
      tags:
        - CashRegister
      summary: 'Get cash register'
      operationId: 6387bbbe4a0a225c3de00d5a44cab838
      parameters:
        -
          $ref: '#/components/parameters/cashregister_id_in_path_required'
        -
          $ref: '#/components/parameters/get_query_fields'
      responses:
        '200':
          description: 'CashRegister object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cashRegister'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /cashregister:
    get:
      tags:
        - CashRegister
      summary: 'List cash registers'
      description: 'List cash registers'
      operationId: d65d35fb278175b2bbf84093f0c0c888
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
      responses:
        '200':
          description: 'List of cash registers'
          content:
            application/json:
              schema:
                allOf:
                  - { properties: { paging: { $ref: '#/components/schemas/list_paging_response' }, list: { description: 'List of cash registers', type: array, items: { $ref: '#/components/schemas/cashRegister' } } }, type: object }
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  '/item/{itemId}':
    get:
      tags:
        - Item
      summary: 'Get item'
      operationId: f47322353057b7d4b5b0af5bad50a444
      parameters:
        -
          $ref: '#/components/parameters/item_id_in_path_required'
        -
          $ref: '#/components/parameters/get_query_fields'
        -
          $ref: '#/components/parameters/expand_item_query'
      responses:
        '200':
          description: 'Item object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/item'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
    delete:
      tags:
        - Item
      summary: 'Delete item'
      operationId: b8fb94d2e16af07626c71f865da4f38a
      parameters:
        -
          $ref: '#/components/parameters/item_id_in_path_required'
      responses:
        '200':
          description: 'Item deleted'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
    patch:
      tags:
        - Item
      summary: 'Update item'
      operationId: 4ee3a077941d7294a0a481881463e127
      parameters:
        -
          $ref: '#/components/parameters/item_id_in_path_required'
      requestBody:
        description: 'Update item'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/item'
      responses:
        '200':
          description: 'Item updated'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /item:
    get:
      tags:
        - Item
      summary: 'List items'
      description: 'List items'
      operationId: 600ea82926c638476810073b34ecf4db
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
        -
          $ref: '#/components/parameters/expand_item_query'
        -
          name: itemNo
          in: query
          description: 'optional, Search for items with this item number (fully)'
          schema:
            type: string
          example: bl10ml
        -
          name: itemNoContains
          in: query
          description: 'optional, Search for items which contains this item number (partly)'
          schema:
            type: string
          example: 0ml
        -
          name: itemName
          in: query
          description: 'optional, Search for items with this item name (fully)'
          schema:
            type: string
          example: 'body lotion 10 ml'
        -
          name: itemNameContains
          in: query
          description: 'optional, Search for items which item name contains string (partly)'
          schema:
            type: string
          example: '10 ml'
        -
          name: showInactive
          in: query
          description: 'optional, Include inactive items in search.'
          schema:
            type: boolean
            default: false
        -
          name: showDeleted
          in: query
          description: 'optional, Include deleted items in search.'
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: 'List of items'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/itemList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
    post:
      tags:
        - Item
      summary: 'Create item'
      operationId: 6cad48c120fb1c1e6abb43a3421907e1
      requestBody:
        description: 'Create item'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/item_create'
      responses:
        '200':
          description: 'Item created'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  '/itemgroup/{itemGroupId}':
    get:
      tags:
        - 'Item group'
      summary: 'Get item group'
      operationId: 601a1cfd08438864ff62977e44c3743c
      parameters:
        -
          $ref: '#/components/parameters/itemgroup_id_in_path_required'
        -
          $ref: '#/components/parameters/get_query_fields'
      responses:
        '200':
          description: 'Item group object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/itemGroup'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
    delete:
      tags:
        - 'Item group'
      summary: 'Delete item group'
      operationId: fbf6e43c3493cb45acf2207a9ee1504b
      parameters:
        -
          $ref: '#/components/parameters/itemgroup_id_in_path_required'
      responses:
        '200':
          description: 'Item group deleted'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
    patch:
      tags:
        - 'Item group'
      summary: 'Update item group'
      operationId: 7499c1fd468d50ba0e824de615d9f1d8
      parameters:
        -
          $ref: '#/components/parameters/itemgroup_id_in_path_required'
      requestBody:
        $ref: '#/components/requestBodies/itemgroup_update_in_body'
      responses:
        '200':
          description: 'Item group updated'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /itemgroup:
    get:
      tags:
        - 'Item group'
      summary: 'List item groups'
      description: 'List item groups description'
      operationId: 2758d44900b91a8b6a2145d2e874c048
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
        -
          name: parentItemGroupId
          in: query
          description: 'optional, Limit to search for item group with specific parent item group'
          schema:
            type: integer
        -
          name: showInactive
          in: query
          description: 'optional, Include inactive item groups in search.'
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: 'List of item groups'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/itemGroupList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
    post:
      tags:
        - 'Item group'
      summary: 'Create item group'
      operationId: d93d39a224febbca531399582c1226b8
      requestBody:
        $ref: '#/components/requestBodies/itemGroup_create_in_body'
      responses:
        '200':
          description: 'Item group created'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /itemstocktransaction:
    get:
      tags:
        - 'Item stock transaction'
      summary: 'List item stock transactions'
      description: ''
      operationId: 1ce83b458aa81865de1f5c48a014e5e0
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
        -
          $ref: '#/components/parameters/period_to_from_date_query'
        -
          name: cashRegisterId
          in: query
          description: 'Cash register to search in'
          required: true
          schema:
            type: integer
        -
          name: cashRegisterItemId
          in: query
          description: 'Limit search to itemId'
          schema:
            type: integer
      responses:
        '200':
          description: 'List of item stock transactions'
          content:
            application/json:
              schema:
                allOf:
                  - { properties: { paging: { $ref: '#/components/schemas/list_paging_response' }, list: { description: 'List of item stock transactions', type: array, items: { $ref: '#/components/schemas/itemStockTransaction' } } }, type: object }
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  '/cashregisterrecord/{cashRegisterRecordId}':
    get:
      tags:
        - CashRegisterRecord
      summary: 'Get cash register record'
      description: 'To get content of recordLines, use expand parameter.<br>fx. `?expand.recordLines=itemId,itemNo,itemPriceTotal`'
      operationId: c04ac1df1e54c20ca8394d8a73285dc1
      parameters:
        -
          $ref: '#/components/parameters/cashregisterrecord_id_in_path_required'
        -
          $ref: '#/components/parameters/get_query_fields'
        -
          name: expand
          in: query
          schema:
            $ref: '#/components/schemas/expand_cashRegisterRecord_query'
      responses:
        '200':
          description: 'CashRegisterRecord object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cashRegisterRecord'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /cashregisterrecord:
    get:
      tags:
        - CashRegisterRecord
      summary: 'List cash register records'
      description: 'List cash register records description'
      operationId: 0838b52f05b3de74a107548f3c5e0063
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
        -
          $ref: '#/components/parameters/period_to_from_date_query'
        -
          name: cashRegisterId
          in: query
          description: 'optional, Limit to search in specific cash register'
          schema:
            type: integer
        -
          name: cashRegisterReportId
          in: query
          description: 'optional, Limit to search in specific cash register report'
          schema:
            type: integer
        -
          name: expand
          in: query
          schema:
            $ref: '#/components/schemas/expand_cashRegisterRecord_query'
      responses:
        '200':
          description: 'List of cash register records'
          content:
            application/json:
              schema:
                allOf:
                  - { properties: { paging: { $ref: '#/components/schemas/list_paging_response' }, list: { description: 'List of cash register records', type: array, items: { $ref: '#/components/schemas/cashRegisterRecord' } } }, type: object }
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /cashregisterrecordline:
    get:
      tags:
        - CashRegisterRecordLine
      summary: 'List cash register record lines'
      description: 'List cash register record lines description'
      operationId: 47c2439ef9780f77be4d7c43784a9a4f
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
        -
          name: expand
          in: query
          schema:
            $ref: '#/components/schemas/expand_cashRegisterRecordLine_list'
        -
          name: cashRegisterRecordId
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/cashRegisterRecordId'
      responses:
        '200':
          description: 'List of cash register record lines'
          content:
            application/json:
              schema:
                allOf:
                  - { properties: { paging: { $ref: '#/components/schemas/list_paging_response' }, list: { description: 'List of cash register record lines', type: array, items: { $ref: '#/components/schemas/cashRegisterRecordLine' } } }, type: object }
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  '/customer/{customerId}':
    get:
      tags:
        - Customer
      summary: 'Get customer'
      operationId: d083a1375af9d166f95dfed3885269bd
      parameters:
        -
          $ref: '#/components/parameters/customer_id_in_path_required'
        -
          $ref: '#/components/parameters/get_query_fields'
      responses:
        '200':
          description: 'Customer information'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
    delete:
      tags:
        - Customer
      summary: 'Delete customer'
      operationId: 9f2f76cfdc94a08165001b4ec142a34b
      parameters:
        -
          $ref: '#/components/parameters/customer_id_in_path_required'
      responses:
        '200':
          description: 'Customer deleted'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
    patch:
      tags:
        - Customer
      summary: 'Update customer'
      operationId: e58c8470088f7258880165516d296c24
      parameters:
        -
          $ref: '#/components/parameters/customer_id_in_path_required'
      requestBody:
        $ref: '#/components/requestBodies/customer_in_body'
      responses:
        '200':
          description: 'Customer updated'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /customer:
    get:
      tags:
        - Customer
      summary: 'List customers'
      description: 'List customers'
      operationId: f70b5d1b285cf3437876a78ffa3a4f24
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
        -
          name: customerGroupId
          in: query
          description: 'optional, List customers in this customergroup'
          schema:
            type: integer
        -
          name: customerSSN
          in: query
          description: 'optional, Search for customers with this SSN'
          schema:
            type: string
            example: '0201609996'
        -
          name: customerNo
          in: query
          description: 'optional, Search for customers with this number'
          schema:
            type: string
            example: A10001
        -
          name: customerEmail
          in: query
          description: 'optional, Search for customers with this email'
          schema:
            type: string
            example: johndoe@example.com
        -
          name: customerTagsIncludeAny
          in: query
          description: 'optional. Comma seperated list of customertagIds. Include customers with __one or more__ of the listed customerTag ids'
          explode: false
          schema:
            type: integer
            format: '###,###,...'
            example: '101,102,103'
        -
          name: customerTagsIncludeAll
          in: query
          description: 'optional. Comma seperated list of customertagIds. Include only customers with __all__ of the listed customerTag ids'
          explode: false
          schema:
            type: integer
            format: '###,###,...'
            example: '201,202,203'
        -
          name: customerTagsExcludeAny
          in: query
          description: 'optional. Comma seperated list of customertagIds. Exclude customers with __any__ of the listed customerTag ids'
          explode: false
          schema:
            type: integer
            format: '###,###,...'
            example: '301,302,303'
      responses:
        '200':
          description: 'List of customers'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
    post:
      tags:
        - Customer
      summary: 'Create customer'
      operationId: a410e0b0981b84df68b32dd54f843ec7
      requestBody:
        $ref: '#/components/requestBodies/customer_in_body'
      responses:
        '200':
          description: 'Customer created'
          content:
            application/json:
              schema:
                properties:
                  customerId: { $ref: '#/components/schemas/customerId' }
                type: object
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  '/customer/{customerId}/customertag':
    get:
      tags:
        - Customer
      summary: 'Get customer tags'
      operationId: 8a37aafccbdac3a45ca3f4520588d9b0
      parameters:
        -
          $ref: '#/components/parameters/customer_id_in_path_required'
        -
          $ref: '#/components/parameters/get_query_fields'
      responses:
        '200':
          description: 'List of customer tags'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerTagList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
    patch:
      tags:
        - Customer
      summary: 'Update customer tag'
      operationId: b8c56663521f071c64384595ba4b5f66
      parameters:
        -
          $ref: '#/components/parameters/customer_id_in_path_required'
      requestBody:
        $ref: '#/components/requestBodies/customertag_in_body'
      responses:
        '200':
          description: 'Customer tag updated'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  '/customer/{customerId}/discountgroup':
    get:
      tags:
        - Customer
      summary: 'Get customer discount groups'
      operationId: 9bd655176071c165d093ba917462de7e
      parameters:
        -
          $ref: '#/components/parameters/customer_id_in_path_required'
        -
          $ref: '#/components/parameters/get_query_fields'
      responses:
        '200':
          description: 'List of customer discount groups'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDiscountGroupList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
    patch:
      tags:
        - Customer
      summary: 'Update customer discount group'
      operationId: 5391013af0716e2daf9d6fdd6d7fb9d5
      parameters:
        -
          $ref: '#/components/parameters/customer_id_in_path_required'
      requestBody:
        $ref: '#/components/requestBodies/customerDiscountgroup_in_body'
      responses:
        '200':
          description: 'Customer discount group updated'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  '/customergroup/{customerGroupId}':
    get:
      tags:
        - 'Customer group'
      summary: 'Get customer group'
      operationId: de1bd851dd88b2c399e398eb5c62b03d
      parameters:
        -
          $ref: '#/components/parameters/customergroupid_in_path_required'
        -
          $ref: '#/components/parameters/get_query_fields'
        -
          $ref: '#/components/parameters/expand_customerGroup_query'
      responses:
        '200':
          description: 'CustomerGroup object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerGroup'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
    patch:
      tags:
        - 'Customer group'
      summary: 'Update customer group'
      operationId: bb3e0a12370dc1b6e48b75c076b29445
      parameters:
        -
          $ref: '#/components/parameters/customergroupid_in_path_required'
      requestBody:
        description: 'Update customer group'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerGroup'
      responses:
        '200':
          description: 'Customer group updated'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /customergroup:
    get:
      tags:
        - 'Customer group'
      summary: 'List customer groups'
      description: 'List customer groups'
      operationId: 5f315ed9e7e5d070d9167aee22cba6ac
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
        -
          $ref: '#/components/parameters/expand_customerGroup_query'
        -
          name: customerGroupName
          in: query
          description: 'optional, Search for customer groups with this name'
          schema:
            type: string
        -
          name: customerGroupActive
          in: query
          description: 'optional, Search for customer groups that are active or inactive'
          schema:
            type: boolean
      responses:
        '200':
          description: 'List of customer groups'
          content:
            application/json:
              schema:
                allOf:
                  - { properties: { paging: { $ref: '#/components/schemas/list_paging_response' }, list: { description: 'List of customer groups', type: array, items: { $ref: '#/components/schemas/CustomerGroup' } } }, type: object }
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
    post:
      tags:
        - 'Customer group'
      summary: 'Create customer group'
      operationId: d43148a33b50faba08460fbee289230f
      requestBody:
        description: 'Create customer group'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerGroup'
      responses:
        '200':
          description: 'Customer group created'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  '/customergroupsection/{customerGroupSectionId}':
    get:
      tags:
        - 'Customer group section'
      summary: 'Get customer group section'
      operationId: 7f84c24c2a5df524ca6e1ecf7d063b45
      parameters:
        -
          $ref: '#/components/parameters/customergroupsection_id_in_path_required'
        -
          $ref: '#/components/parameters/get_query_fields'
      responses:
        '200':
          description: 'CustomerGroupSection object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerGroupSection'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /customergroupsection:
    get:
      tags:
        - 'Customer group section'
      summary: 'List customer group sections'
      description: 'List customer group sections description'
      operationId: 1d17c0bc0ea6ab152872675a14e9cd85
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
      responses:
        '200':
          description: 'List of customer group sections'
          content:
            application/json:
              schema:
                allOf:
                  - { properties: { paging: { $ref: '#/components/schemas/list_paging_response' }, list: { description: 'List of customer group sections', type: array, items: { $ref: '#/components/schemas/customerGroupSection' } } }, type: object }
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  '/deletedbooking/{bookingId}':
    get:
      tags:
        - Booking
      summary: 'Get deleted booking'
      operationId: bfb8404f42e6376dcdccf130ed0c1b4f
      parameters:
        -
          $ref: '#/components/parameters/deleted_booking_id_in_path_required'
        -
          $ref: '#/components/parameters/get_query_fields'
        -
          name: expand
          in: query
          schema:
            $ref: '#/components/schemas/expanse_deleted_booking_query'
      responses:
        '200':
          description: 'Deleted booking object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleted_booking'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /deletedbooking:
    get:
      tags:
        - Booking
      summary: 'List deleted bookings'
      description: 'List deleted bookings'
      operationId: 4b04469fdb5827814f8fc1bf7526a1da
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
        -
          $ref: '#/components/parameters/period_to_from_date_query'
        -
          $ref: '#/components/parameters/period_created_to_from_date_query'
        -
          $ref: '#/components/parameters/period_deleted_to_from_date_query'
        -
          name: calendarId
          in: query
          description: 'optional, Limit to search in specific calendar'
          schema:
            type: integer
        -
          name: customerId
          in: query
          description: 'optional, Limit to search for specific customer'
          schema:
            type: integer
        -
          name: bookingCustomerGroupId
          in: query
          description: 'optional, Limit to search for bookings in customer group'
          schema:
            type: integer
        -
          name: serviceId
          in: query
          description: 'optional, Limit to search in specific service'
          schema:
            type: integer
        -
          name: expand
          in: query
          schema:
            $ref: '#/components/schemas/expanse_deleted_booking_query'
      responses:
        '200':
          description: 'List of bookings'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deletedBookingList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  '/documentanswer/{documentAnswerId}':
    get:
      tags:
        - 'Document answer'
      summary: 'Get document answer'
      operationId: c77f7eb2577e15ff23ce955553add2fa
      parameters:
        -
          $ref: '#/components/parameters/documentanswer_id_in_path_required'
        -
          $ref: '#/components/parameters/get_query_fields'
      responses:
        '200':
          description: 'DocumentAnswer object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/documentAnswer'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /documentanswer:
    get:
      tags:
        - 'Document answer'
      summary: 'List document answers'
      description: 'List document answers description'
      operationId: fb45355a3f71a104c72d0556ae5caa5a
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
        -
          $ref: '#/components/parameters/period_created_to_from_date_query'
        -
          $ref: '#/components/parameters/period_edited_to_from_date_query'
        -
          name: customerId
          in: query
          description: 'optional, Limit to specific customer'
          schema:
            type: integer
        -
          name: documentTemplateId
          in: query
          description: 'optional, Search for documents using the template id'
          schema:
            type: integer
        -
          name: completed
          in: query
          description: 'optional, Limit completed/not completed'
          schema:
            type: boolean
        -
          name: expand
          in: query
          schema:
            $ref: '#/components/schemas/expand_documentAnswer_query'
      responses:
        '200':
          description: 'List of document answers'
          content:
            application/json:
              schema:
                allOf:
                  - { properties: { paging: { $ref: '#/components/schemas/list_paging_response' }, list: { description: 'List of document answers', type: array, items: { $ref: '#/components/schemas/documentAnswer' } } }, type: object }
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  '/documenttemplate/{documentTemplateId}':
    get:
      tags:
        - 'Document template'
      summary: 'Get document template'
      operationId: 6695a188162c899b0bb33ae50e283a9f
      parameters:
        -
          $ref: '#/components/parameters/documenttemplate_id_in_path_required'
        -
          $ref: '#/components/parameters/get_query_fields'
      responses:
        '200':
          description: 'DocumentTemplate object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/documentTemplate'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /documenttemplate:
    get:
      tags:
        - 'Document template'
      summary: 'List document templates'
      description: 'List document templates description'
      operationId: ba6b50195406653241b361f242f108b1
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
        -
          name: documentTemplateName
          in: query
          description: 'optional, Limit to search for documenttemplates containing this in name'
          schema:
            type: string
        -
          name: documentTemplateGroupId
          in: query
          description: 'optional, Limit to search in this group'
          schema:
            type: integer
      responses:
        '200':
          description: 'List of document templates'
          content:
            application/json:
              schema:
                allOf:
                  - { properties: { paging: { $ref: '#/components/schemas/list_paging_response' }, list: { description: 'List of document templates', type: array, items: { $ref: '#/components/schemas/documentTemplate' } } }, type: object }
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  '/employee/{employeeId}':
    get:
      tags:
        - Employee
      summary: 'Get employee'
      operationId: c19e62e99ac8e705ad4294abe926d5ca
      parameters:
        -
          $ref: '#/components/parameters/employee_id_in_path_required'
        -
          $ref: '#/components/parameters/get_query_fields'
      responses:
        '200':
          description: 'Employee object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/employee'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /employee:
    get:
      tags:
        - Employee
      summary: 'List employees'
      description: 'List employees description'
      operationId: aa76c49ae758e6883615811390dbc6b7
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
        -
          name: employeeName
          in: query
          description: 'optional, Search for employee name'
          schema:
            type: string
        -
          name: employeeNo
          in: query
          description: 'optional, Search for employee number'
          schema:
            type: string
        -
          name: employeeActive
          in: query
          description: 'optional, Limit to only active or inactive'
          schema:
            type: boolean
        -
          name: isShopAssistant
          in: query
          description: 'optional, Limit to only isShopAssistant true/false'
          schema:
            type: boolean
      responses:
        '200':
          description: 'List of employees'
          content:
            application/json:
              schema:
                allOf:
                  - { properties: { paging: { $ref: '#/components/schemas/list_paging_response' }, list: { description: 'List of employees', type: array, items: { $ref: '#/components/schemas/employee' } } }, type: object }
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  '/event/{eventId}':
    get:
      tags:
        - Event
      summary: 'Get event'
      operationId: 6b34e52cc8e94661a28254e20c8fa1b7
      parameters:
        -
          $ref: '#/components/parameters/event_id_in_path_required'
        -
          $ref: '#/components/parameters/get_query_fields'
      responses:
        '200':
          description: 'Event object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/event'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /event:
    get:
      tags:
        - Event
      summary: 'List events'
      description: 'List events description'
      operationId: 358c3f75340f8b83d7f848f753f81e4d
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
        -
          name: period
          in: query
          description: 'Search for events in date interval'
          style: deepObject
          explode: true
          schema:
            $ref: '#/components/schemas/to_from_date_query'
        -
          name: eventTypeId
          in: query
          description: 'optional, Limit to search for specific type of event'
          schema:
            type: integer
        -
          name: eventGroupId
          in: query
          description: "optional, Limit to search in specific event group. A value of '0' will search for those not in a event group"
          schema:
            type: integer
        -
          name: eventLocationId
          in: query
          description: 'optional, Limit to search in specific event location'
          schema:
            type: integer
        -
          name: active
          in: query
          description: 'optional, Limit to search for active or inactive events'
          schema:
            type: boolean
        -
          name: showOnline
          in: query
          description: 'optional, Limit to search for events that are visible online'
          schema:
            type: boolean
      responses:
        '200':
          description: 'List of events'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  '/eventsignup/{eventSignupId}':
    get:
      tags:
        - 'Event signup'
      summary: 'Get Event signup'
      operationId: 3b6449f746c67945003a45058bf17739
      parameters:
        -
          $ref: '#/components/parameters/eventsignup_id_in_path_required'
        -
          $ref: '#/components/parameters/get_query_fields'
        -
          name: expand
          in: query
          schema:
            $ref: '#/components/schemas/expand_eventSignup_query'
      responses:
        '200':
          description: 'EventSignup object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventSignup'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /eventsignup:
    get:
      tags:
        - 'Event signup'
      summary: 'List Event signups'
      description: 'List Event signups description'
      operationId: 74452d6564572b8607ed4e78e2601c0d
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
        -
          $ref: '#/components/parameters/created_to_from_date_query'
        -
          $ref: '#/components/parameters/eventstartdate_to_from_date_query'
        -
          name: eventId
          in: query
          description: 'optional, Limit to search in specific event'
          schema:
            type: integer
        -
          name: customerId
          in: query
          description: 'optional, Limit to search for specific customer signups'
          schema:
            type: integer
        -
          name: expand
          in: query
          schema:
            $ref: '#/components/schemas/expand_eventSignup_query'
      responses:
        '200':
          description: 'List of Event signups'
          content:
            application/json:
              schema:
                allOf:
                  - { properties: { paging: { $ref: '#/components/schemas/list_paging_response' }, list: { description: 'List of Event signups', type: array, items: { $ref: '#/components/schemas/eventSignup' } } }, type: object }
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  '/rewardprogram/{rewardProgramId}':
    get:
      tags:
        - 'Reward program'
      summary: 'Get reward program'
      operationId: ab45e14b225c0c9e5f3a64881bfe85a9
      parameters:
        -
          $ref: '#/components/parameters/rewardprogram_id_in_path_required'
        -
          $ref: '#/components/parameters/get_query_fields'
      responses:
        '200':
          description: 'RewardProgram object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rewardProgram'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  '/rewardprogram/{rewardProgramId}/balance/{customerId}':
    get:
      tags:
        - 'Reward program'
      summary: 'Get reward program balance for customer'
      operationId: 8a2f32579e978166fa86b176a250cd06
      parameters:
        -
          $ref: '#/components/parameters/rewardprogram_id_in_path_required'
        -
          $ref: '#/components/parameters/customer_id_in_path_required'
      responses:
        '200':
          description: 'RewardProgram object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rewardProgramCustomerBalance'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  '/rewardprogram/{rewardProgramId}/transaction':
    get:
      tags:
        - 'Reward program'
      summary: 'Get reward program transactions'
      operationId: 0ebcd883f60537de679298ed025517e0
      parameters:
        -
          $ref: '#/components/parameters/rewardprogram_id_in_path_required'
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
        -
          $ref: '#/components/parameters/period_to_from_date_query'
      responses:
        '200':
          description: 'List of reward program transactions'
          content:
            application/json:
              schema:
                allOf:
                  - { properties: { paging: { $ref: '#/components/schemas/list_paging_response' }, list: { description: 'List of reward program transactions', type: array, items: { $ref: '#/components/schemas/rewardProgramTransaction' } } }, type: object }
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
    post:
      tags:
        - 'Reward program'
      summary: 'Create reward program transaction'
      operationId: 305022fa3cb985d715792f1136170c35
      parameters:
        -
          $ref: '#/components/parameters/rewardprogram_id_in_path_required'
      requestBody:
        description: 'Create reward program transaction'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rewardProgramTransaction_create'
      responses:
        '200':
          description: 'RewardProgram created'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /rewardprogram:
    get:
      tags:
        - 'Reward program'
      summary: 'List reward programs'
      description: 'List reward programs description'
      operationId: 81c853bebb8ce65849eeff6295e0d65a
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
      responses:
        '200':
          description: 'List of reward programs'
          content:
            application/json:
              schema:
                allOf:
                  - { properties: { paging: { $ref: '#/components/schemas/list_paging_response' }, list: { description: 'List of reward programs', type: array, items: { $ref: '#/components/schemas/rewardProgram' } } }, type: object }
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  '/questionnaire/{questionnaireId}':
    get:
      tags:
        - Questionnaire
      summary: 'Get questionnaire'
      operationId: 12e484404e4f2bce508f0d0ab138f670
      parameters:
        -
          $ref: '#/components/parameters/questionnaire_id_in_path_required'
        -
          $ref: '#/components/parameters/get_query_fields'
      responses:
        '200':
          description: 'Questionnaire object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/questionnaire'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /questionnaire:
    get:
      tags:
        - Questionnaire
      summary: 'List questionnaires'
      description: 'Fetch list of questionnaires.'
      operationId: c8f03cb074bbdc83879515daea17bfe7
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
        -
          name: questionnaireName
          in: query
          description: 'optional, Limit to search questionnaires with name'
          schema:
            type: string
        -
          name: questionnaireActive
          in: query
          description: 'optional, Limit to search active or inactive questionnaires'
          schema:
            type: boolean
      responses:
        '200':
          description: 'List of questionnaires'
          content:
            application/json:
              schema:
                allOf:
                  - { properties: { paging: { $ref: '#/components/schemas/list_paging_response' }, list: { description: 'List of questionnaires', type: array, items: { $ref: '#/components/schemas/questionnaire' } } }, type: object }
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  '/questionnaireanswer/{questionnaireAnswerId}':
    get:
      tags:
        - 'Questionnaire answer'
      summary: 'Get questionnaire answer'
      operationId: 7bac81e987aeb843bee684a074e96fcd
      parameters:
        -
          $ref: '#/components/parameters/questionnaireanswer_id_in_path_required'
        -
          $ref: '#/components/parameters/get_query_fields'
        -
          $ref: '#/components/parameters/expand_questionnaireAnswer_query'
      responses:
        '200':
          description: 'QuestionnaireAnswer object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/questionnaireAnswer'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /questionnaireanswer:
    get:
      tags:
        - 'Questionnaire answer'
      summary: 'List questionnaire answers'
      description: 'List questionnaire answers description'
      operationId: defe9ad5879c1a9e36066a02e43c2707
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
        -
          name: questionnaireId
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/questionnaireId'
        -
          name: customerId
          in: query
          schema:
            $ref: '#/components/schemas/input_customerId'
        -
          name: completed
          in: query
          schema:
            description: 'Search for questionnaires that are completed or not'
            type: boolean
        -
          $ref: '#/components/parameters/period_created_to_from_date_query'
        -
          $ref: '#/components/parameters/period_edited_to_from_date_query'
        -
          $ref: '#/components/parameters/period_completed_to_from_date_query'
      responses:
        '200':
          description: 'List of questionnaire answers'
          content:
            application/json:
              schema:
                allOf:
                  - { properties: { paging: { $ref: '#/components/schemas/list_paging_response' }, list: { description: 'List of questionnaire answers', type: array, items: { $ref: '#/components/schemas/questionnaireAnswer' } } }, type: object }
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  '/service/{serviceId}':
    get:
      tags:
        - Service
      summary: 'Get service'
      operationId: c72ebbf9c3ae485c66b829b7dc98ce69
      parameters:
        -
          $ref: '#/components/parameters/service_id_in_path_required'
        -
          $ref: '#/components/parameters/get_query_fields'
        -
          $ref: '#/components/parameters/expand_service_query'
      responses:
        '200':
          description: 'Service object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /service:
    get:
      tags:
        - Service
      summary: 'List services'
      description: 'List services description'
      operationId: 6952dccd8ec82615601abbd193bc0356
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
        -
          $ref: '#/components/parameters/expand_service_query'
        -
          name: customerGroupId
          in: query
          description: 'optional, Limit to search in specific customer group'
          schema:
            type: integer
        -
          name: serviceGroupId
          in: query
          description: 'optional, Limit to search in specific service group'
          schema:
            type: integer
        -
          name: includeDeleted
          in: query
          description: 'optional, include deleted services'
          schema:
            type: boolean
      responses:
        '200':
          description: 'List of services'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  '/serviceaddition/{serviceAdditionId}':
    get:
      tags:
        - Service
      summary: 'Get service addition'
      operationId: 0deb7b723ddb2edad265a858b7df718f
      parameters:
        -
          $ref: '#/components/parameters/serviceaddition_id_in_path_required'
        -
          $ref: '#/components/parameters/get_query_fields'
        -
          $ref: '#/components/parameters/expand_serviceAddition_query'
      responses:
        '200':
          description: 'Service addition object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceaddition'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /serviceaddition:
    get:
      tags:
        - Service
      summary: 'List service additions'
      description: 'List service additions description'
      operationId: 494c42096857be705cbcded36c354f6f
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
        -
          $ref: '#/components/parameters/expand_serviceAddition_query'
        -
          name: serviceAdditionGroupId
          in: query
          description: 'optional, Limit to search in specific service addition group'
          schema:
            type: integer
      responses:
        '200':
          description: 'List of service additions'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceAdditionList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  '/servicegroup/{serviceGroupId}':
    get:
      tags:
        - 'Service group'
      summary: 'Get service group'
      operationId: dc0cb8c55edd3f3908c8823e0a01d0ab
      parameters:
        -
          $ref: '#/components/parameters/servicegroup_id_in_path_required'
        -
          $ref: '#/components/parameters/get_query_fields'
        -
          $ref: '#/components/parameters/expand_serviceGroup_query'
      responses:
        '200':
          description: 'ServiceGroup object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceGroup'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /servicegroup:
    get:
      tags:
        - 'Service group'
      summary: 'List service groups'
      description: 'List service groups description'
      operationId: 1da8434ff5b538eb97bd89523541377a
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
        -
          $ref: '#/components/parameters/expand_serviceGroup_query'
        -
          name: customerGroupId
          in: query
          description: 'optional, Limit to search in specific customer group'
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: 'List of service groups'
          content:
            application/json:
              schema:
                allOf:
                  - { properties: { paging: { $ref: '#/components/schemas/list_paging_response' }, list: { description: 'List of service groups', type: array, items: { $ref: '#/components/schemas/serviceGroup' } } }, type: object }
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  '/booking/{bookingId}':
    get:
      tags:
        - Booking
      summary: 'Get booking'
      operationId: fe789493fdf4f6561ab4fe6f0646d64a
      parameters:
        -
          $ref: '#/components/parameters/booking_id_in_path_required'
        -
          name: expand
          in: query
          schema:
            $ref: '#/components/schemas/expanse_booking_list'
      responses:
        '200':
          description: 'Booking object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/booking'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
    delete:
      tags:
        - Booking
      summary: 'Delete booking'
      operationId: db4a14dcf4f43ffbf5d45876712d434a
      parameters:
        -
          $ref: '#/components/parameters/booking_id_in_path_required'
        -
          name: notifyByEmail
          in: query
          description: 'optional, Notify customer by email'
          schema:
            type: boolean
            default: false
            example: false
        -
          name: notifyBySMS
          in: query
          description: 'optional, Notify customer by SMS (require SMS module)'
          schema:
            type: boolean
            default: false
            example: false
      responses:
        '200':
          description: 'Booking deleted'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
    patch:
      tags:
        - Booking
      summary: 'Update booking'
      operationId: 8a7859908c20b293968a5bbe1f3b9034
      parameters:
        -
          $ref: '#/components/parameters/booking_id_in_path_required'
      requestBody:
        $ref: '#/components/requestBodies/booking_update_in_body'
      responses:
        '200':
          description: 'Booking updated'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /booking:
    get:
      tags:
        - Booking
      summary: 'List bookings'
      description: 'List bookings description'
      operationId: 9efac2bd63cfb6cdd1cfb787c6968342
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
        -
          $ref: '#/components/parameters/period_to_from_date_query'
        -
          $ref: '#/components/parameters/period_created_to_from_date_query'
        -
          name: calendarId
          in: query
          description: 'optional, Limit to search in specific calendar'
          schema:
            type: integer
        -
          name: customerId
          in: query
          description: 'optional, Limit to search for specific customer'
          schema:
            type: integer
        -
          name: serviceId
          in: query
          description: 'optional, Limit to search in specific service'
          schema:
            type: integer
        -
          name: bookingCustomerGroupId
          in: query
          description: 'optional, Limit to search for bookings in customer group'
          schema:
            type: integer
        -
          name: expand
          in: query
          schema:
            $ref: '#/components/schemas/expanse_booking_list'
      responses:
        '200':
          description: 'List of bookings'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookingList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
    post:
      tags:
        - Booking
      summary: 'Create booking'
      operationId: 9bdf353f096dc880f9066df369195f01
      requestBody:
        description: 'Create booking'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/booking_create'
      responses:
        '200':
          description: 'Booking created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/booking_create_response_200'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  '/voucher/{voucherId}':
    get:
      tags:
        - Voucher
      summary: 'Get voucher'
      operationId: 481853e4a6fc6efde106df0f8b280f5f
      parameters:
        -
          $ref: '#/components/parameters/voucher_id_in_path_required'
      responses:
        '200':
          description: 'Voucher object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voucher'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
    patch:
      tags:
        - Voucher
      summary: 'Update voucher'
      operationId: f4bbc39a9b95c1ed613513543883a5b9
      parameters:
        -
          $ref: '#/components/parameters/voucher_id_in_path_required'
      requestBody:
        $ref: '#/components/requestBodies/voucher_in_body'
      responses:
        '200':
          description: 'Voucher updated'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /voucher:
    get:
      tags:
        - Voucher
      summary: 'List vouchers'
      description: 'List vouchers'
      operationId: c893a546c98f13347104dba895835317
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          name: voucherType
          in: query
          description: 'List vouchers of this type'
          schema:
            type: string
            enum:
              - giftcard
              - discount
              - multipass
              - subscription
        -
          name: voucherCode
          in: query
          description: 'Search specific vouchercode'
          schema:
            type: string
        -
          name: limitedToCustomerId
          in: query
          description: 'Search for vouchers limited to a customerId'
          schema:
            type: integer
        -
          name: createdPeriod
          in: query
          style: deepObject
          explode: true
          schema:
            $ref: '#/components/schemas/to_from_date_query'
          example:
            start: '2021-01-01'
            end: '2021-12-31'
        -
          name: voucherValidDate
          in: query
          schema:
            description: "Search for vouchers where this date is between voucherValidFrom and voucherValidTo. Example: '2021-12-31'"
            type: string
            format: YYYY-MM-DD
      responses:
        '200':
          description: 'List of vouchers'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoucherList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
    post:
      tags:
        - Voucher
      summary: 'Create voucher'
      operationId: ae0eab10a0075e4c81038d41d8388e30
      requestBody:
        $ref: '#/components/requestBodies/voucher_create_in_body'
      responses:
        '200':
          description: 'Voucher created'
          content:
            application/json:
              schema:
                properties:
                  voucherId: { $ref: '#/components/schemas/voucherId' }
                type: object
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  '/voucher/{voucherId}/withdraw':
    patch:
      tags:
        - Voucher
      summary: 'Voucher, withdraw'
      description: 'Function to use a giftcard, discount card or multipass voucher.<br>To withdraw from a gift- or discount card use transactionPassValue in input.<br>And for multipass voucher use transactionMultipass.'
      operationId: a36d64885d44f6d94607c4534a2d32f1
      parameters:
        -
          $ref: '#/components/parameters/voucher_id_in_path_required'
      requestBody:
        $ref: '#/components/requestBodies/voucher_use_in_body'
      responses:
        '200':
          description: Transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoucherTransactionIds'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  '/voucher/{voucherId}/withdraw-undo':
    patch:
      tags:
        - Voucher
      summary: 'Voucher, undo withdraw'
      description: 'Function to create a reversed transaction.<br>If successfull, a reversed transaction will be made, and transaction id returned'
      operationId: ec852265500a8e0c87e87f32564d328a
      parameters:
        -
          $ref: '#/components/parameters/voucher_id_in_path_required'
      requestBody:
        description: Transaction
        required: true
        content:
          application/json:
            schema:
              required:
                - transactionId
              properties:
                transactionId:
                  description: 'Id of the transaction to undo'
                  type: integer
                  writeOnly: true
              type: object
      responses:
        '200':
          description: 'Transaction is reversed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoucherTransactionIds'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  '/voucherdefinition/{voucherDefinitionId}':
    get:
      tags:
        - 'Voucher definition'
      summary: 'Get voucherDefinition'
      operationId: 818767d1affc90bd63482846d2b79f8c
      parameters:
        -
          $ref: '#/components/parameters/voucherDefinition_id_in_path_required'
        -
          $ref: '#/components/parameters/get_query_fields'
      responses:
        '200':
          description: 'VoucherDefinition object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoucherDefinition'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /voucherdefinition:
    get:
      tags:
        - 'Voucher definition'
      summary: 'List voucher definitions'
      description: 'List voucher definitions'
      operationId: 68a9ab2a8dcecdd200cf1502eb329958
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
        -
          name: voucherType
          in: query
          description: 'List voucherdefinitions of this type'
          schema:
            type: string
            enum:
              - giftcard
              - discount
              - multipass
              - subscription
      responses:
        '200':
          description: 'List of voucherDefinitions'
          content:
            application/json:
              schema:
                properties:
                  paging: { $ref: '#/components/schemas/list_paging_response' }
                  list: { description: 'List of voucherDefinitions', type: array, items: { $ref: '#/components/schemas/VoucherDefinition' } }
                type: object
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /vouchertransaction:
    get:
      tags:
        - 'Voucher transaction'
      summary: 'List voucher transactions'
      description: 'List voucher transactions description'
      operationId: 5086c237e51399ab6a3d3befad743dda
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
        -
          $ref: '#/components/parameters/period_to_from_date_query'
        -
          name: voucherId
          in: query
          schema:
            description: 'optional, get transactions to a voucher'
            type: integer
        -
          name: receiptId
          in: query
          schema:
            description: 'optional, get transactions on receipt'
            type: integer
        -
          name: orderId
          in: query
          schema:
            description: 'optional, get transactions on order'
            type: integer
        -
          name: bookingId
          in: query
          schema:
            description: 'optional, get transactions on a booking'
            type: integer
        -
          name: voucherType
          in: query
          schema:
            description: 'Voucher type'
            type: string
            enum:
              - giftcard
              - discount
              - multipass
              - subscription
      responses:
        '200':
          description: 'List of voucher transactions'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voucherTransactionList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  '/workhour/{workHourId}':
    get:
      tags:
        - 'Work hour'
      summary: 'Get work hour'
      operationId: 75019e460876d7ac7bd49aa60a251eb3
      parameters:
        -
          $ref: '#/components/parameters/workHour_id_in_path_required'
        -
          $ref: '#/components/parameters/get_query_fields'
        -
          $ref: '#/components/parameters/expand_workHour_query'
      responses:
        '200':
          description: 'WorkHour object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workHour'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
    delete:
      tags:
        - 'Work hour'
      summary: 'Delete work hour'
      operationId: e64d10a907f173028335062acb9144ad
      parameters:
        -
          $ref: '#/components/parameters/workHour_id_in_path_required'
      responses:
        '200':
          description: 'WorkHour deleted'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
    patch:
      tags:
        - 'Work hour'
      summary: 'Update work hour'
      operationId: f97b12b25fa3b16586add19caaff6973
      parameters:
        -
          $ref: '#/components/parameters/workHour_id_in_path_required'
      requestBody:
        description: 'Update work hour'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/workHour'
      responses:
        '200':
          description: 'WorkHour updated'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /workhour:
    get:
      tags:
        - 'Work hour'
      summary: 'List work hours'
      description: 'List work hours description'
      operationId: 4e51eb76d9f6db3f3998842e69821966
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
        -
          $ref: '#/components/parameters/expand_workHour_query'
        -
          name: period
          in: query
          description: 'Search period'
          style: deepObject
          explode: true
          schema:
            $ref: '#/components/schemas/to_from_date_query'
        -
          name: customerGroupId
          in: query
          description: 'Search for bookings booked in this customer group id'
          schema:
            type: integer
            example: 1000
        -
          name: calendarId
          in: query
          description: 'Calendar id to search in'
          schema:
            type: integer
            example: 1000
        -
          name: isDateLimited
          in: query
          description: 'Is the work hour limited to a period'
          schema:
            type: boolean
            example: true
        -
          name: priority
          in: query
          description: 'search for work hours with this priority only'
          schema:
            type: integer
            example: 100
      responses:
        '200':
          description: 'List of work hours'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workHourList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
    post:
      tags:
        - 'Work hour'
      summary: 'Create work hour'
      operationId: f92b8b3bbf2b4ce993ce15d67b3dc975
      requestBody:
        $ref: '#/components/requestBodies/workHour_create_in_body'
      responses:
        '200':
          description: 'WorkHour created'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /workhoursum:
    get:
      tags:
        - 'Work hour'
      summary: 'List work hour summations'
      description: 'List work hour summations description'
      operationId: 277fe2e22c379c18cefa4ba8acbebf97
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/period_to_from_date_query'
        -
          name: customerGroupId
          in: query
          description: 'Customer group id'
          required: true
          schema:
            type: integer
        -
          name: calendarId
          in: query
          description: 'Calendar id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'List of work hour summations'
          content:
            application/json:
              schema:
                allOf:
                  - { properties: { paging: { $ref: '#/components/schemas/list_paging_response' }, list: { description: 'List of work hour summations', type: array, items: { $ref: '#/components/schemas/workHourSum' } } }, type: object }
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  '/worktype/{workTypeId}':
    get:
      tags:
        - 'Work type'
      summary: 'Get work type'
      operationId: e3a9f9b12bfc1162ebf0cbe9e00923da
      parameters:
        -
          $ref: '#/components/parameters/worktype_id_in_path_required'
        -
          $ref: '#/components/parameters/get_query_fields'
        -
          $ref: '#/components/parameters/expand_workType_query'
      responses:
        '200':
          description: 'WorkType object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workType'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /worktype:
    get:
      tags:
        - 'Work type'
      summary: 'List work types'
      description: 'List work types description'
      operationId: ee42baf0afb280a9794c7bfe0829cb44
      parameters:
        -
          $ref: '#/components/parameters/list_paging_query_page'
        -
          $ref: '#/components/parameters/list_paging_query_perpage'
        -
          $ref: '#/components/parameters/list_paging_query_fields'
        -
          $ref: '#/components/parameters/expand_workType_query'
      responses:
        '200':
          description: 'List of work types'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workTypeList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
components:
  schemas:
    accessTemplate_expand:
      title: optional
      description: "List of access template fields to return in 'accessTemplate' object field. If its not filled, only accessTemplateId will be filled."
      type: string
      format: 'aaa,bbb,ccc,...'
      writeOnly: true
      example: 'accessTemplateId,accessTemplateName'
    accessTemplateId:
      title: 'AccessTemplate id'
      description: 'The unique identifier of a access template'
      type: integer
      readOnly: true
      example: 1999999
    accessTemplate_link:
      title: AccessTemplate
      description: AccessTemplate
      properties:
        accessTemplateId:
          $ref: '#/components/schemas/accessTemplateId'
      type: object
      readOnly: true
      nullable: true
    accessTemplate_create:
      title: AccessTemplate
      description: AccessTemplate
      required:
        - customerId
      properties:
        customerId:
          type: integer
          writeOnly: true
      type: object
    accessTemplate:
      title: AccessTemplate
      description: AccessTemplate
      required:
        - accessTemplateId
      properties:
        accessTemplateId:
          $ref: '#/components/schemas/accessTemplateId'
        accessTemplateName:
          description: 'Access template description'
          type: string
          example: Supporter
      type: object
    administrator_expand:
      title: optional
      description: "List of administrator fields to return in 'administrator' object field. If its not filled, only administratorId will be filled."
      type: string
      format: 'aaa,bbb,ccc,...'
      writeOnly: true
      example: 'administratorId,administratorName'
    administratorId:
      title: 'Administrator id'
      description: 'The unique identifier of a administrator'
      type: integer
      readOnly: true
      example: 1999999
    administrator_link:
      title: Administrator
      description: Administrator
      properties:
        administratorId:
          $ref: '#/components/schemas/administratorId'
      type: object
      readOnly: true
      nullable: true
    administrator_create:
      title: Administrator
      description: Administrator
      required:
        - administratorName
        - administratorEmail
      properties:
        administratorId:
          $ref: '#/components/schemas/administratorId'
        accessTemplate:
          $ref: '#/components/schemas/accessTemplate_link'
        accessTemplateId:
          type: integer
          writeOnly: true
        administratorInitials:
          type: string
          example: JD
        administratorName:
          type: string
          example: 'John Doe'
        administratorEmail:
          type: string
          example: jd@example.com
        administratorMobile:
          type: string
          example: '12345678'
        administratorExternalId:
          description: 'Id in external system when administrator is imported'
          type: integer
          example: 8844001
        administratorUUID:
          description: 'Used for singlesignon'
          type: string
          example: 36392ecf-20e6-4a39-bd69-261ab66112ca
      type: object
    administrator:
      title: Administrator
      description: Administrator
      properties:
        administratorId:
          $ref: '#/components/schemas/administratorId'
        accessTemplate:
          $ref: '#/components/schemas/accessTemplate_link'
        accessTemplateId:
          type: integer
[...]
